.header
    %h1.logo <span>on</span> Rails

    %ul#menu
        %li
            = link_to "home", "#", :class => 'active'
        %li
            = link_to "about", "#"
        %li
            = link_to "members", "#"
        %li
            = link_to "events", "#"
        %li
            = link_to "presentations", "#"

