.header
    %h1.logo <span>on</span> Rails

    %ul#menu
        %li
            = link_to "home",root_url, :class => "#{ 'active' if controller.controller_name == 'home' }"
        %li
            = link_to "presentations", presentations_path, :class => "#{ 'active' if controller.controller_name == 'presentations' }"

            %ul.submenu
                %li
                    = link_to "Presentation Ideas", presentation_ideas_path
                //%li
                //= link_to "Upcoming Presentations", upcoming_presentations_path

                //%li
                //= link_to "Past Presentations", past_presentations_path

        %li
            - if current_user
                = link_to "sign out", sign_out_path
            - else
                = link_to "sign in", sign_in_path, :class => "#{ 'active' if controller.controller_name == 'sessions' }"

