= render :partial => 'presentations/next_presentation'


.five.centered.extra-margin
    = link_to "<span>Get Directions &raquo;</span>", "#", :class => "large red button"
    = link_to "<span>Join SB on Rails &raquo;</span>", sign_up_path, :class => "large blue button" unless current_user



.row
    .three-and-a-half.columns.first
        = render :partial => 'presentations/presentation_ideas'

    .three-and-a-half.columns
        = render :partial => 'presentations/past_presentations'

    .two-and-a-half.columns
        %h3 Upcoming Events

        %ul.homepage-list
            %li
                Working with Git
            %li
                Using Chef with Rails
            %li
                Lightning Talks
            %li
                Testing with Cucumber

        %p
            = link_to "See More &raquo;", "#"

