= render :partial => 'presentations/next_presentation'


.five.centered.extra-margin
    = link_to "<span>Get Directions &raquo;</span>",google_maps_appfolio_url, :class => "large red button", :target => '_blank'
    = link_to "<span>Join SB on Rails &raquo;</span>", sign_up_path, :class => "large blue button" unless current_user



.row
    .three-and-a-half.columns.first
        = render :partial => 'presentations/presentation_ideas'

    .three-and-a-half.columns
        = render :partial => 'presentations/past_presentations'

    .two-and-a-half.columns
        %h3 
            Events
            %small
                = link_to "<span>Add +</span>", new_event_path, :class => 'small blue button'

        %ul.homepage-list
            - @events.each do |event|
                %li
                    = event.name
                    = event.the_date
        %p
            = link_to "See More &raquo;", "#"

