<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>The date</th>
    <th>User d</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=h event.name %></td>
    <td><%=h event.the_date %></td>
    <td><%=h event.user_d %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>